:root{
    --gretBg : #585353;
    --white : #ffffff;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--gretBg);
    z-index: 99;
    text-align: center;
    font: Bold 40px/50px "Helvetica Neu";
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}